@model demo.Models.MovieGenreViewModel

@{
    ViewData["PersonID"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<form asp-controller="Student" asp-action="Index">
    <p> <select asp-for="MovieGenre" asp-items="Model.Genres">
            <option value="">All</option>
        </select>
        PersonID: <input type="text" name="SearchString" />
        <input type="submit" value="Filter" />
    </p>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                 @Html.DisplayNameFor(model => model.students[0].University)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.students[0].PhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.students[0].Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.students[0].PersonCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.students[0].FullName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.students)
 {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.University)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PersonCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FullName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PersonID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.PersonID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.PersonID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
